<%- include('layouts/header') %>
<div class="container">
    <% if(message_notExists.length) { %>
        <div class="alert alert-danger" role="alert">
            <%= message_notExists %>
        </div>
    <% } %>
    <% if(message_warning.length) { %>
        <div class="alert alert-warning" role="alert">
            <%= message_warning %>
        </div>
    <% } %>
    <% if(message_failed.length) { %>
        <div class="alert alert-danger" role="alert">
            <%= message_failed %>
        </div>
    <% } %>
    <h2>Update Password</h2>
    <form action="/insert" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Old Password:</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Enter password" name="oldPassword" required>
    </div>
    <div class="form-group">
        <label for="pwd">New Password:</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Enter password" name="newPassword" required>
    </div>
    <div class="form-group">
        <label for="pwd">Confirm New Password:</label>
        <input type="password" class="form-control" id="confirmnewPassword" placeholder="Enter password" name="confirmnewPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
</div>

<%- include('layouts/footer') %>