<%- include('layouts/header') %>
<div class="container">
  <% if(message_failed.length) { %>
    <div class="alert alert-danger" role="alert">
        <%= message_failed %>
    </div>
<% } %>
<% if(message_success.length) { %>
  <div class="alert alert-success" role="alert">
      <%= message_success %>
  </div>
<% } %>
<% if(message_warning.length) { %>
  <div class="alert alert-warning" role="alert">
      <%= message_warning %>
  </div>
<% } %>
  <h2>Login Form</h2>
  <form action="/postlogin" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

<%- include('layouts/footer') %>

